@import "styles/variaveis";
@import "styles/breakpoints";


.header {
  align-items: center;
  background-image: url("./../../assets/header/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  max-width: 100%;
  overflow: hidden;
  justify-content: center;

  @media (max-width: $desktop_xsm) {

    .header__text {
      font-size: 3rem;
      display: flex;
      flex-wrap: wrap;
      padding: 0 2rem;
    }
  }

  &__text {
    color: white;
    font-size: 5rem;
    max-width: 100%;
  }
}