/* css gerais da pagina */

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
  box-sizing: border-box;
  font-family: "Italiana", sans-serif ;
}

body {
  line-height: 1;
  background-color: #f6f6f6;
  background-image: url(../public/assets/az-subtle.png);
  background-repeat: repeat;
}