@import "styles/variaveis";
@import "styles/breakpoints";

.container {
  padding: 20px $padding-horizontal;
}

@media (max-width: $desktop_xsm) {
  .cardapio {
    width: 100%;

    &__filtros {
      padding: 0 20px;
    }
  }

  .itemContainer {
    justify-content: center;
    padding: 20px 0;
  }

  .container {
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cardapio {
    padding: 50px $padding-horizontal-mobile;
  }
}

@media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
  .container {
    padding: 20px $padding-horizontal-sm;
  }

  .cardapio {
    padding: 50px $padding-horizontal-sm;
  }
}

@media (min-width: $desktop_sm) and (max-width: $desktop_md) {
  .container {
    padding: 20px $padding-horizontal-sm;
  }

  .cardapio {
    padding: 50px $padding-horizontal-sm;
  }
}

.cardapio {
  padding: 50px $padding-horizontal;

  &__titulo {
    color: $dark;
    font-size: 3rem;
    margin-bottom: 30px;
  }

  &__filtros {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}

.titulo {
  color: $dark;
  font-size: 3rem;
  margin-bottom: 30px;

}